<!-- content-23  -->
<section class="content-23 v-center bg-midnight-blue custom-bg">
  <div>
    <div class="container">
      <div class="hero-unit hero-unit-bordered">
        <h1><%= data.content.inspiration %></h1>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

<!-- content-8  -->
<section class="content-8 v-center">
  <div class="container">
    <h2><%= data.content.usecases_title %></h2>
    <br><br><br><br><br><br>
    <div class=row>
      <% data.content.usecases_1.each_with_index do |usecase, index| %>
        <div class=span4>
          <img src="images/<%= usecase.image %>" width="70" height="70" alt="">
          <h3><%= usecase.title %></h3>
          <p><%= usecase.text %></p>
        </div>
      <% end %>
    </div>
    <div class=row>
      <% data.content.usecases_2.each_with_index do |usecase, index| %>
        <div class=span4>
          <img src="images/<%= usecase.image %>" width="70" height="70" alt="">
          <h3><%= usecase.title %></h3>
          <p><%= usecase.text %></p>
        </div>
      <% end %>
    </div>
  </div>
  <img src="images/icons/down.svg" width="70">
</section>
